---
eleventyNavigation:
  key: Home
  order: 0
heading: Snap Store
description: A collection of recent images. Stock photos currently provided from Pexels. Add or remove images from the grid and customize your own image gallery!
layout: main.njk
title: Eleventy Snap Store Template
meta_desc: A Snap Store template with stock photos provided from Pexels. Add or remove images from the grid and customize your own image gallery!
url: https://eleventy-gallery.netlify.app
img: /images/highway-water.jpg
alt: Terrace outside shop window with green plants and pink tree on night street
cardType: summary_large_image
---

<div class="page-banner">
  <h1>{{ heading }}</h1>
  <p>{{ description }}</p>
</div>

{% include "partials/home-gallery.njk" %}